# Gradio Web UIgradio# PyTorch and Audiotorchtorchaudio# Hugging Face Ecosystemtransformersdatasetspeftsentencepiecebitsandbytes# ASR and Audio Source Separationopenai-whisperwhisper-timestampeddemucs# Audio & Data Manipulationpydubmutagenlibrosapandastqdm# APIs, Evaluation, and Datasetslyricsgeniusjiweryt-dlpdali-datasetfastapiuvicorn[standard]python-multipart